<div class="container" #container>
  <h1>Sorting Visualizer</h1>
  <div>
    <label for="whatsort">Select Sort:</label>
    <select name="whatsort" id="whatsort" [(ngModel)]="selectedSort">
      <option value="Select" selected disabled>Select Sorting Algorithm</option>
      <option value="selection">Selection Sort</option>
      <option value="bubble">Bubble Sort</option>
      <option value="merge">Merge Sort</option>
      <option value="insertion">Insertion Sort</option>
      <option value="heap">Heap Sort</option>
    </select>

    <label for="nos" style="margin: 20px;">Number of elements</label>
    <input type="text" id="nos" [(ngModel)]="numberOfElements" />
    <label for="timeout" style="margin: 20px;">Set Time Lapse</label>
    <input type="text" id="timeout" [(ngModel)]="timeout"/>
  </div>
  <!-- Use (click) event binding to handle button click -->
  <button (click)="init()">Display</button>
  <button (click)="play()">Sort</button>
  <button (click)="reset()">Reset</button> <!-- Add the reset button -->


  <!-- New div to contain bars -->
</div>
<div class="bars-container" #barsContainer></div>